{{#each assessments}}
<table class="ui table">
  <thead>
    <tr>
      <th>Date/Time</th>
      <th>Weight</th>
      <th>Chest</th>
      <th>Thigh</th>
      <th>Upper Arm</th>
      <th>Waist</th>
      <th>Hips</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
          {{dateAndTime}}
        </td>
        <td>
          {{weight}}
        </td>
        <td>
          {{chest}}
        </td>
        <td>
          {{thigh}}
        </td>
        <td>
          {{upperArm}}
        </td>
        <td>
          {{waist}}
        </td>
        <td>
          {{hips}}
        </td>
      </tr>
  </tbody>
</table>
{{/each}}
