<table class="ui table">
  <thead>
    <tr>
      <th>Date/Time</th>
      <th>Trend</th>
      <th>Weight</th>
      <th>Chest</th>
      <th>Thigh</th>
      <th>Upper Arm</th>
      <th>Waist</th>
      <th>Hips</th>
      <th>Comment</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    {{#each assessments}}
      <tr>
        <td>
          {{dateAndTime}}
        </td>
        <td></td>
        <td>
          {{weight}}
        </td>
        <td>
          {{chest}}
        </td>
        <td>
          {{thigh}}
        </td>
        <td>
          {{upperArm}}
        </td>
        <td>
          {{waist}}
        </td>
        <td>
          {{hips}}
        </td>
        <td>
          {{comment}}
        </td>
        <td>
          <a href="/dashboard/deleteassessment/{{id}}" class="ui icon button">
            <i class="icon trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>